.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 75vw;
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 558px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 345px;
  /* background-color: tomato; */
}

.search > input {
  width: 534px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 395px;
  border: none;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  position: absolute;
  left: 0;
  top: 470px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 578px;
}

.search > button:hover {
  color: #ff7779;
  background-color: white;
}
